$valkoinen:#fff;

$harmaa:#777;
$harmaa2: #f7f7f7;
$harmaa3:#999;
$harmaa4: #eee;
$harmaa5:#999;
$harmaa6:#333;

$vihrea1: #55c57a;
$vihrea2: #7ed56f;
$vihrea3: #28b485;

$oranssi: #ffb900;
$oranssi2: #ff7738;

$sininen: #2998ff;
$sininen2: #5643fa;

$musta:#000;

$grid-width:114rem;
$gutter_vertical:8rem;
$gutter_horizontal:60px;
