.matka_kortti{
    perspective: 1500px;
    -moz-perspective: 1500px;
    position: relative;
  height:500px;

  &_puoli{
    background-color: red;
    height:500px;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 15px 40px rgba($musta, 0.15);



    &_etupuoli{
      background-color: $valkoinen;
    }
    &_takapuoli{

      transform: rotateY(180deg);

      &_1{
        background-image: linear-gradient(to right bottom, $oranssi,$oranssi2);
      }
      &_2{
        background-image: linear-gradient(to right bottom, $vihrea1,$vihrea2);
      }
      &_3{
        background-image: linear-gradient(to right bottom, $sininen,$sininen2);
      }
    }
  }

  &:hover &_puoli_etupuoli{
      transform: rotateY(-180deg);
    }
  &:hover &_puoli_takapuoli{
    transform: rotateY(0);
  }
  &_kuva{
    background-size: cover;
    height: 230px;
    background-blend-mode: screen;
    clip-path: polygon(0 0,100% 0,100% 85% , 0 100% );
    -webkit-clip-path:polygon(0 0,100% 0,100% 85% , 0 100% );
    &_1{
      background-image:linear-gradient(to right bottom, $oranssi,$oranssi2), url(../img/nat-5.jpg);
    }
    &_2{
      background-image:linear-gradient(to right bottom, $vihrea1,$vihrea2), url(../img/nat-6.jpg);
    }
    &_3{
      background-image:linear-gradient(to right bottom, $sininen,$sininen2), url(../img/nat-7.jpg);
    }
  }
  &_otsikko{
    font-size: 28px;
    font-weight: 300;
    text-transform: uppercase;
    color: $valkoinen;
    position: absolute;
    top: 120px;
    right: 20px;
    text-align: right;
    width: 75%;

  }
  &_otsikko_span{
    padding: 10px 15px;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    &_1{
       background-image: linear-gradient(to right bottom,
               rgba($oranssi, 0.8),
               rgba($oranssi2, 0.8))

     }
    &_2{
      background-image: linear-gradient(to right bottom,
              rgba($vihrea1, 0.8),
              rgba($vihrea2, 0.8))

    }
    &_3{
      background-image: linear-gradient(to right bottom,
              rgba($sininen, 0.8),
              rgba($sininen2, 0.8))

    }
  }
  &_tiedot{
    padding: 30px;
    ul{
        list-style: none;
        width: 80%;
      margin: 0 auto;

      li{
        text-align: center;
        font-size: 15px;
        padding: 10px;
        &:not(:last-child){
          border-bottom: 1px solid $harmaa2;
        }
      }

    }
  }

  &_taka{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 90%;
    text-align: center;
  }

  &_hinta_box{
    text-align: center;
    color:$valkoinen;
    margin-bottom: 80px;
  }
  &_hinta_info{
    font-size: 14px;
    text-transform: uppercase;
  }
  &_hinta_arvo{
    font-size: 60px;
    font-weight: 100;
  }
}
